* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: 200px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2.5rem;

  font-family: sans-serif;
  color: #292929;

  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  align-self: flex-start;
}

.board-container {
  width: 30rem;
  background-color: lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
  border-radius: 10px;

  box-shadow: 0px 15px 30px 3px rgba(0, 0, 0, 0.3);
}

.heading {
  align-self: flex-end;
  justify-self: center;
  font-size: 5rem;
  color: rgb(100, 100, 100);
}

.row {
  display: flex;
  gap: 0.5rem;
}

.row:not(:last-child) {
  margin-bottom: 1rem;
}

.tile {
  font-size: 3rem;
  font-weight: bold;
  height: 5rem;
  width: 5rem;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 0.6rem;
}

.input {
  width: 20rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: rgb(168, 168, 168);
  color: #fff;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(168, 168, 168);
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(100, 100, 100);
}

.correct {
  background-color: #6ca965;
}

.misplaced {
  background-color: #c8b653;
}

.not-in-word {
  background-color: #787c7f;
}

.pop-up {
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(160, 160, 160);
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.pop-up__text {
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}

.hidden {
  display: none !important;
}

.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);

  width: 30rem;
  height: 30rem;
  background-color: #fff;
  padding: 5rem 2rem;
  border-radius: 10px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* animation: openModal 0.5s ease 0s 1 normal forwards; */
  transition: all 0.5s;
}

.modal__text {
  font-size: 2rem;
  color: rgb(100, 100, 100);
}

.modal__hidden {
  opacity: 0;
  visibility: hidden;
  top: 15%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;

  animation: openOverlay 0.1s ease 0s 1 normal forwards;
}

@keyframes openOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
